<% if flash[:notice].present? %>
<% flash[:notice] %>
<% end %> </br>
<table>
<tr>
    <td>Title</td>
    <td>Mapel</td>
    <td>Duration</td>
    <td>Nilai</td>
    <td>Status</td>
    <td>Label</td>
    <td>Student_id</td>
</tr>
<% @exams.each do |exam| %>
    </tr>
<td><%= exam.title %></td>
<td><%= exam.mapel %></td>
<td><%= exam.duration %></td>
<td><%= exam.nilai %></td>
<td><%= exam.status %></td>
<td><%= exam.label %></td>
<td><%= exam.student_id %></td>
<td><%= link_to 'klik di sini', exam_path(exam) %> | <%= link_to 'Edit', edit_exam_path(exam.id) %> | <%= link_to 'Delete', exam_path(exam.id) ,method: :delete, data: {confirm: 'Yakin mau dihapus?'} %></td>
</tr>
<% end %>
</table>

<%= link_to 'New Exam', new_exam_path %>