<% if flash[:notice].present? %>
<% flash[:notice] %>
<% end %> </br>
Title : <%= @exam.title %> </br>
Mapel : <%= @exam.mapel %> </br>
Duration : <%= @exam.duration %> </br>
Nilai : <%= @exam.nilai %> </br>
Status : <%= @exam.status %> </br>
Label : <%= @exam.label %> </br>
Student Id : <%= @exam.student_id %> </br>
